#body { /* https://cssgradient.io/ */
    background: rgb(161,88,0);
    background: linear-gradient(214deg, rgba(161,88,0,0.5555264342064952) 0%, rgba(114,74,0,1) 100%);
}
#innovazioni { /* https://cssgradient.io/ */
    background: rgb(135,135,135);
    background: linear-gradient(0deg, rgba(135,135,135,0.1260211848411239) 0%, rgba(21,21,21,1) 100%);
}

div.icons {
    width: 50%; 
    height: max-content; /* https://css-tricks.com/almanac/properties/h/height/ */
    margin-left: auto; 
    margin-right: auto;
}

.icon {
    width: 95%; 
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}
.icon:hover {
    opacity: 0.7;
}

#main {
    display: flex;
    justify-content: center;
    padding: 2%;
}

.pop-up {
    position: fixed;
    top: 10%;
    margin-top: 0;
    margin-left: 5%;
    margin-right: 5%;
    justify-self: center;
    width: fit-content;
    max-width: 50%;
    padding-left: 2%;
    padding-right: 2%;
    height: max-content;
    opacity: 0.92;
    z-index: 1;
    display: none;
    justify-content: space-between;
}
.pop-up p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

div.intro p, div.intro h1, div.intro a {
    color: rgb(161, 88, 0);
}