form {
    display: flex;
    align-self: center;
    justify-content: center;
}


form input {
    /* Position */
    display: flex;
    align-self: center;
    justify-content: center;

    /* Style */
    background-color: black;
    border-radius: 20px;
    color: red;
    justify-content: center;
}
form input:hover {
    transform: scale(1.0, 1.1);
}
form input::placeholder {
    align-self: center;
    color: gainsboro;
}