/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');


/* Variables */
:root {
    --font: 'Nunito', sans-serif;
}


body {
    margin: 0;
    font-family: var(--font);
    background-color: gainsboro;
}
hr {
    min-width: 80%;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 0;
    top: 0;
}


section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 200px;
}
section#intro div#social {
    display: flex;
    flex-direction: column;
}
section#intro div#social > ul {
    list-style-type: none;
    list-style-position: inside;
    padding-left: 0;
}
section#intro div#social p.fa, section#intro div#social p.fa-brands {
    margin-right: 10%;
    margin-left: 10%;
}
section#intro div#social a {
    align-self: center;
}
section#intro div#social li {
    display: flex;
    width: 100%;
}
section#intro > div {
    display: flex;
    width: 50%;
}
section.black {
    background-color: black;
    color: gray;
}
section.gray {
    background-color: gray;
    color: black;
}
section.bubble {
    position: relative;
    border-top-left-radius: 50% 20%;
    border-top-right-radius: 50% 20%;
    border-bottom-left-radius: 50% 20%;
    border-bottom-right-radius: 50% 20%;
    bottom: 0;
    height: fit-content;
    padding-bottom: 5vh;
    text-align: center;
    width: calc(100% - 2px);
}
section.bubble p {
    align-self: stretch;
    display: flex;
    font-weight: 500;
    justify-content: space-around;
    /*margin-bottom: 10%;*/
    margin-left: 9vw;
    margin-right: 9vw;
}
section.bubble.red h1, section.bubble.red p {
    color: black;
}
section.bubble.black h1, section.bubble.black p {
    color: gray;
}


section.bubble#too-long {
    border-top-left-radius: 50% 10%;
    border-top-right-radius: 50% 10%;
    border-bottom-left-radius: 50% 10%;
    border-bottom-right-radius: 50% 10%;
}
section.bubble#too-long div img {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}


/* This class was stolen from Fireship at https://www.youtube.com/watch?v=lPJVi797Uy0 */
div.curve {
    position: absolute;
    height: 200px;
    width: 100%;
    bottom: 0;
    z-index: -1;
}
div.curve::before {
    display: block;
    position: absolute;
    border-radius: 100% 50%;
    width: 55%;
    height: 100%;
    z-index: 0;
}
div.curve::after {
    display: block;
    position: absolute;
    border-radius: 100% 50%;
    width: 55%;
    height: 100%;
    background-color: red;
    transform: translate(-4%, 40%);
    z-index: 0;
}


#intro div ul li a {
    font-family: var(--font);
    color: gray;
    font-size: medium;
    font-stretch: expanded;
    text-decoration: none;
}



#social {
    margin-top: 2vh;
    border-top-left-radius: 20px; 
    border-top-right-radius: 20px;

    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-bottom: 2vh;
}
#container1, #container2, #container3, #social {
    display: block;
    text-align: start;
    width: 50%;
}
#container1 {
    margin-top: 2vh;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-bottom: 2vh;
}
#container1 a {
    text-decoration: none;
    color: gray;
}