/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');


/* Variables */
:root {
    --font: 'Nunito', sans-serif;
}



body {
    margin: 0;
    font-family: var(--font);
    color: red;
    background-color: rgb(29, 29, 29);
}
hr {
    min-width: 80%;
    margin-left: 3%;
    margin-right: 3%;
}


section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 200px;
    padding: 100px, 20vw;
}
section.black {
    background-color: black;
    color: red;
}
section.red {
    background-color: red;
    color: black;
}


#intro div ul li a {
    font-family: var(--font);
    color: gray;
    font-size: medium;
    font-stretch: expanded;
    text-decoration: none;
}



#container1 {
    margin-top: 2vh;
    border-top-left-radius: 20px; 
    border-top-right-radius: 20px;
}
#container1, #container2, #container3, #container4 {
    display: block;
    width: 50%;
}
#container4 {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-bottom: 2vh;
}