@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Roboto&display=swap');

:root {
    --nav-height: 50px;
}


/* https://github.com/FLAK-ZOSO/FLAK-ZOSO.github.io/blob/main/src/css/code.css */
.square {
    background-color: black;
    font-size: larger;
    border-radius: 5px;
    padding-right: 2px;
    padding-left: 2px;
    padding-top: 2px;
    padding-bottom: 1px;
}

body {
    margin: 0;
}

html {
    /* https://stackoverflow.com/questions/17756649/disable-the-horizontal-scroll */
    overflow-x: hidden;
    background-color: white;
}


p, h1 {
    color: red;
    justify-self: center;
    align-self: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: xx-large;
}

@keyframes navbar-title {
    0% {
        color: red;
    }

    50% {
        color: purple;
    }

    100% {
        color: red;
    }
}

@keyframes navbar-link-underline {
    0% {
        border-bottom-color: orange;
    }

    100% {
        border-bottom-color: yellow;
    }
}


nav.top {
    /* Position fixed, the <nav> remains on top even after scrolling */
    position: fixed;
    /* Stay fixed on top */
    top: 0;
    /* Stay on left side */
    left: 0;
    /* Cover the whole screen */
    width: 86vw;
    background-color: gray;
    opacity: 0.7;
    /* Stay on top */
    z-index: 1;
    /* text-align: left; */
    margin-left: 4%;
    margin-right: 10%;
    padding-left: 2%;
    padding-right: 2%;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    
    height: var(--nav-height);
}
nav.top p {
    font-family: 'Roboto', sans-serif;
    margin-top: 15px;
}
nav.top a {
    /* padding: 5%; padding breaks nav.top a:hover border-bottom */
    text-decoration: none;
    font-size: 30px;
    color: white;
}

nav.top a.name-title {
    animation-name: navbar-title;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

nav.top a.link {
    float: right;
    margin-left: 5%;
    padding-right: 0px;
}

nav.top a.link:hover {
    color: purple;
    border-bottom-style: solid;
    animation-name: navbar-link-underline;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

nav.top img {
    border-radius: 10px;
    width: 30px;
}

div.intro {
    width: 90%;
    height: max-content;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    justify-content: center;
    align-content: center;
    border-color: black;
    background-color: rgb(49, 49, 49);
    border-top-left-radius: 30px 30px;
    border-top-right-radius: 30px 30px;
    border-bottom-left-radius: 30px 30px;
    border-bottom-right-radius: 30px 30px;
}

div.intro#intro {
    margin-top: 50px;
}

section.nav-wrapper {
    height: var(--nav-height);
    width: 100vw;
    top: 0;
    left: 0;
    position: fixed;
    margin-bottom: 0;
    background-color: lightgray;
}

section.intro {
    margin-top: var(--nav-height);
    margin-bottom: 0;
    height: fit-content;
    padding: 2px;
    width: 100vw;
    right: 0;
    left: 0;
    background-color: black;
}

div.sidebar {
	position: fixed;
	top: var(--nav-height);
	margin-bottom: 50px;
	left: 0;
	width: 20vw;
	height: calc(100vh - var(--nav-height) - 50px);
	background-color: rgb(155, 100, 44);
	opacity: 0.85;
	z-index: 1;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}
div.sidebar a {
	text-decoration: none;
	color: white;
	font-size: 20px;
	font-family: 'Roboto', sans-serif;
	margin-left: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 10px;
}

button.login {
	width: 170px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    background-color: black;
    color: red;
	font-weight: 700;
}

footer.bottom {
    width: 100vw;
	height: 50px;
    bottom: 0;
    left: 0;
    background-color: rgb(42, 42, 42);
    position: fixed;
}

/* Shitty stuff by @MarcoPellero */
table, tr, th, td {
	border: 1px solid black;
	border-collapse: collapse;
}
.fail {
	background-color: lightcoral;
}
.success {
	background-color: greenyellow;
}
.mixed {
	background-color: orange;
}